* {
  margin: 0;
  padding: 0;
}

.news-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #b1cffc;
  gap: 40px;
}

.news-navbar a:first-child {
  margin-left: 20px;
}

.news-navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.news-title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: bold;
}

.news-description {
  text-align: center;
}

.newsDescription {
  margin-top: 10px;
  white-space: normal;
  line-height: 1.5rem;
  font-size: 1.2rem;
  width: 1000px;
}

.news-news-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px; /* Adjust gap as needed */
  justify-items: center; /* Center items horizontally */
}

.news-news-item {
  break-inside: avoid-column; /* Prevents list items from breaking across columns */
  width: 300px;
  border: 5px solid #000;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: #b1cffc;
}

.news-news-image {
  position: relative;
  width: 300px;
  height: 225;
  object-fit: cover;
}


.news-p {
  font-size: 1.2rem;
  line-height: normal;
  font-weight: normal;
  margin-top: 12px;
}

.news-a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: normal;
}
