.background {
  background-image: url("/public/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  /* align all items in the middle vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.autocomplete-container {
    position: relative;
    width: 80vw;
  }
  
  .autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    max-height: 175px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

  }
  
  
  .autocomplete-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  /* ? I'm not sure what is this for */
  /*
  .flashing {
    animation: flashingAnimation 1s infinite;
  }
  
  @keyframes flashingAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
*/