.weather-map {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#weatherDescription {
    white-space: normal;
    line-height: 1.25rem;
    width: 60%;
}

.Weather-Icon{
    display: flex;
    justify-content: center;
}


