.weather-map {
    position: fixed;
    top: 80px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
}

#weatherDescription {
    white-space: normal;
    line-height: 1.25rem;
    width: 60%;
}

.Weather-Icon{
    display: flex;
    justify-content: center;
}


